.page{
    /* background: lavender; */
    width: 100%;
    min-height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator{
/* background: lavenderblush; */
width: 100%;
text-align: center;
font-weight: bold;
margin: 25px  0 15px 0;
font-size: 32px;
user-select: none;
}