.terminalWindow {
  background: white;
  touch-action: none;
  touch-action: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.terminal {
  overflow-x: hidden;
  touch-action: none;
  overflow: hidden;
  height: 10%;
}
