.blogloadingpage {
  height: 67vh;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  font-weight: 500;
}

.blogloadingpage svg {
  height: 5vh;
  margin-bottom: 20px;
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.blogPostPage {
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogPostTitle {
  outline: none;
  border: none;
  min-height: 92px;
  font-weight: 700;
  font-size: 58px;
  color: #363636;
  display: flex;
  align-items: column;
  width: 65vw;
}

.blogPostDate {
  width: 100%;
  font-size: 10px;
  opacity: 0.5;
  user-select: none;
  margin-bottom: 30px;
}

.blogContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogPostEditor {
  width: 65vw;
}

@media only screen and (max-width: 600px) {
  .blogPostPage {
    width: 100vw;
  }

  .blogPostTitle {
    width: 85vw;
  }

  .blogPostEditor {
    width: 85vw;
  }
}
