.contactSectionHeaderSection {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 3px solid #363636;
  min-height: 50px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactOptions {
  display: flex;
  justify-content: space-between;
}

.contactSection {
  min-height: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionHeader {
  width: 100%;
  margin: 2% 0 2% 0;
  font-weight: 500;
  font-size: 16px;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactFormInput {
  font-family: "Roboto Mono", monospace;
  height: 45px;
  outline: none;
  width: 100%;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
  margin: 10px 0 10px 0;
  border: 1px solid lightgray;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  box-shadow: 2px 2px #888888;
  color: purple;
}

.contactFormInput::placeholder {
  color: #363636;
}

.contactFormInput:focus {
  background: white;
  box-shadow: 1px 1px black;
}

.contactFormInput:disabled {
  opacity: 0.5;
  background: white;
  color: black;
}

.contactFormInputTextArea {
  font-family: "Roboto Mono", monospace;
  min-height: 145px;
  max-height: 345px;
  outline: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  margin: 10px 0 10px 0;
  border: 1px solid lightgray;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  box-shadow: 2px 2px #888888;
  color: purple;
  resize: none;
}

.contactFormInputTextArea::placeholder {
  color: #363636;
}

.contactFormInputTextArea:focus {
  background: white;
  box-shadow: 1px 1px black;
}

.contactFormInputTextArea:disabled {
  opacity: 0.5;
  background: white;
  color: black;
}

.contactFormSubmitButton {
  font-family: "Roboto Mono", monospace;
  height: 45px;
  outline: none;
  width: 100%;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
  margin: 10px 0 10px 0;
  box-shadow: 2px 2px #888888;
  border: 1px solid lightgray;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  color: #363636;
  cursor: pointer;
}

.contactFormSubmitButton:hover {
  background: white;
  box-shadow: 1px 1px black;
}

.contactFormSubmitButton:active {
  background: white;
  box-shadow: 0px 0px black;
}

.contactFormSubmitButton:disabled {
  background: white;
  box-shadow: 0px 0px black;
  opacity: 0.5;
  cursor: default;
}

.contactLinksSection {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 50%;
}

.contactLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
}

.contactLinkitem {
  height: 75px;
  width: 75px;
  border: 1px solid lightgray;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 25px 25px 25px;
  fill: #363636;
  box-shadow: 2px 2px #888888;
  cursor: pointer;
}

.contactLinkitem:hover {
  box-shadow: 1px 1px #888888;
  fill: black;
}

.contactLinkitem svg {
  height: 50%;
}

.emailLine {
  width: 100%;
  text-align: center;
  margin: 25px 0 25px 0;
}

.emailLineLink {
  font-weight: 500;
  font-size: 12px;
}

.emailLineLink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .contactOptions {
    flex-direction: column;
  }

  .sectionHeader {
    border-bottom: 1px solid lightgray;
  }

  .contactSection {
    width: 100%;
    padding: 0 0 0 0;
  }

  .contactForm {
    width: 100%;
  }

  .contactFormInput {
    width: 100%;
    border-radius: 0;
  }

  .contactFormInputTextArea {
    width: 100%;
  }

  .contactLinksSection {
    width: 100%;
    margin: 0px 0 50px 0;
  }
}
