.errorpage {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #363636;
  user-select: none;
  cursor: not-allowed;
  margin-top: -15vh;
}

.errorbigmessage {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
}

.errorbigmessage svg {
  fill: #363636;
  scale: 3;
}

.errorbigmessage h1 {
  margin-bottom: -8px;
}
.errorbigmessage span {
  font-weight: 700;
}

.errormessage {
  text-align: center;
  font-size: 14px;
}

.errorpagebutton {
  background: lightblue;
  margin-top: 24px;
}

.errorpagebutton button {
  height: 32px;
  font-weight: bold;
  width: 120px;
  background: #363636;
  color: whitesmoke;
  outline: none;
  border: 1px solid #363636;
  transition-duration: 0.4s;
  cursor: pointer;
}

.errorpagebutton button:hover {
  color: #363636;
  background: whitesmoke;
  outline: none;
  border: 1px solid #363636;
}
