.homepage {
  display: flex;
  min-height: 77vh;
  flex-direction: column;
}

.homepageherosection {
  width: 100%;
  height: 50vh;
  display: flex;
}

.homepagesectionLHS {
  padding: 0 2% 0 2%;
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepagesectionLHS span {
  font-size: 12px;
}

.homepagesectionRHS {
  width: 50%;
  min-height: 100%;
}

.homepageamnuzlink {
  color: #363636;
  font-weight: bold;
}

.homepagesection {
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 10vh;
}

.homepageUpdateSectionHeader {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .homepageherosection {
    flex-direction: column-reverse;
  }

  .homepagesectionLHS {
    width: 100%;
    padding: 0;
  }

  .homepagesectionRHS {
    padding: 0;
    width: 100%;
  }
}
