.privacyPage {
  min-height: 90vh;
  width: 100%;
}

.privacyActionSection {
  border-top: 3px solid black;
  margin: 50px 0 0 0;
  padding: 25px 0;
}

.privacySection h1 {
  text-decoration: underline;
  color: #1c1c1c;
}

.privacyActionHeader {
  margin: 0 0 30px 0;
}

.privacyAction {
  font-weight: 900;
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

.privacyTrackFalse {
  background: lightgreen;
}

.privacyAction:hover {
  text-decoration: none;
}
