.section {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  border: 1px solid lightgray;
  padding: 10px 20px;
  box-shadow: 2px 2px #888888;
  border-radius: 15px;
}

.sectionHeader {
    text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  margin: 5px 0;
}

.content {
  font-size: 14px;
  width: 100%;
  text-align: justify;
  margin: 5px 0;
}

.date {
  margin-top: 5px;
  font-size: 11px;
  color: grey;
}

.seeMoreButton {
  text-align: center;
  margin: 10px 0;
}

.seeMoreButtonText {
  text-decoration: underline;
  cursor: pointer;
}

.seeMoreButtonText:hover {
  text-decoration: none;
}
